<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="1de91a92-70bd-44ae-86f6-34d3089d1262" Publisher="CN=Oleg" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Tickets.Windows</DisplayName>
    <PublisherDisplayName>Oleg</PublisherDisplayName>
    <Logo>Assets\Square50x50Logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Tickets.Windows.App">
      <m2:VisualElements DisplayName="Tickets.Windows" Square150x150Logo="Assets\Square150x150Logo.png" Square30x30Logo="Assets\Square30x30Logo.png" Description="Tickets.Windows" ForegroundText="light" BackgroundColor="#cccccc">
        <m2:DefaultTile DefaultSize="square150x150Logo" ShortName="Правила Дорожного Движения" Square70x70Logo="Assets\Square70x70Logo.png" Wide310x150Logo="Assets\Wide310x150Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen620x300.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>